*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CDC1FF;
}
body.dark{
    background-color: #000;
    color: #fff;
}

.container{
    max-width: 1080px;
    width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    margin: 0 auto;
}
header{
    padding: 3rem 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.data{
    display: flex;
    align-items: center;
}
.data select{
    border: none;
    margin-right: 2rem;
    background-color: #CDC1FF;
}
.switching{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-right: 1rem;
}
.switching input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slide{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: 0.5s;
}

.slide::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: #CDC1FF;
}

input:checked+ .slide{
    background-color: #7743DB;
}

input:focus+ .slide{
    box-shadow: 0 0 1px #C8ACD6;
}

input:checked+ .slide::before{
    transform: translateX(26px);
}

.slide.round{
    border-radius: 34px;
}
.slide.round::before{
    border-radius: 50%;
}

header form{
    margin: 2rem 0;
    position: relative;
}

header form input{
    width: 100%;
    background-color: #FFF;
    padding: 1.2rem 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: inherit;
}

header form input:focus{
    border: 2px solid #1e18d769;
}

header form img{
    object-fit: cover;
    top: 50%;
    left: 96%;
    transform: translate(-50%,-50%);
    position: absolute;
    cursor: pointer;
}

.dictionary-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sections p{
    color: #B8001F;
}

.dictionary-content svg{
    cursor: pointer;
}

.dictionary-content svg :hover{
    opacity: 0.7;
}

.noun,.verb{
    margin: 4rem 0;
}

.noun h3,.verb h3{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.noun h3::after,.verb h3::after{
    position: absolute;
    content: "";
    width: 85%;
    height: 2px;
    background-color: #fff;
    top: 15px;
    bottom: 0;
    right: 0;
}



.noun > p,.verb p{
    color: #B8001F;
}

.noun ul{
    margin: 2rem 0;
}

ul li{
    list-style: none;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

ul li::before{
    content: "\2022";
    color: #fff;
    font-size: 2rem;
    width: 1rem;
    padding-right: 2rem;
}

.synonyms p span{
    color: #B8001F;
    font-weight: 600;
    margin-left: 2rem;
}




@media(max-width:480px){
    header form{
        margin: 2rem 0;
        position: relative;
    }

    header form input{
        width: 100%;
        background-color: #FFF;
        padding: 1.2rem 1rem;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 1.3rem;
        font-family: inherit;
    }


    header form img{
        object-fit: cover;
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
        position: absolute;
        cursor: pointer;
    }

    .noun h3::after,.verb h3::after{
        position: absolute;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        bottom: 0;
        right: 0;
    }


}

@media(max-width:820px){
    .noun h3::after,.verb h3::after{
        position: absolute;
        content: "";
        width: 75%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        bottom: 0;
        right: 0;
    }
}

@media (max-width:576px){
    .noun h3::after,.verb h3::after{
        position: absolute;
        content: "";
        width: 70%;
        height: 2px;
        background-color: #fff;
        top: 15px;
        bottom: 0;
        right: 0;
    }
}

/* @media screen and (max-width: 1199px) {
    .dictionary-content {
        flex-direction: column;
        align-items: center;
    }
} */


@media screen and (min-width: 1280px) {
    .dictionary-content {
        gap: 2rem;
    }
    header form input {
        font-size: 1.5rem;
    }
}

